body{
    margin: 20vh;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: rgb(226, 213, 213);
}
.topo{
    border: 5px hidden #1C6EA4;
    border-radius: 5px 5px 0px 0px;;
    background-color: rgb(255, 255, 255);
    height: 126px;
    padding-bottom: 12vh;
    }

.topo h1{
    padding-top: 5vh;
}    

.topo p {
        margin: 4vh;
    }
.txt1{
    color: #2AB2AF;
    margin-top: 3vh;
}
.txt2 {
    color: #b6d335;
    font-size: large;
}

.txt3 {
    color: #c0bbbb;
    font-size: larger;
}
.divisao1{
    height: 272px; 
    width: 376px;  
    background-color: #2AB2AF;
    color: white;
    border-radius: 0px 0px 0px 5px;;
}

.divisao1 p {
    margin-left: 3vh;
}
.divisao2{
    width: 398px;
    height: 272px;   
    background-color: #30CFCC;
    color: white;
    border-radius: 0px 0px 5px 0px;
}
.divisao2 p {
margin-left: 35px;
font-size: small;
}
button{
    margin-top: 5vh;
    margin-left: 5vh;
    background-color: #a2b939;
    width: 300px;
    height: 6vh;
    border-radius: 5px;
    color: white;
    transition: all 0.1s ease-in-out;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
}
button:hover{
    color: #ffffff;
    border: 1px solid #39bda7;
}

h1 {
    margin-left: 5vh;
}

.group{
    display: flex;
}


b{
    font-size: xx-large;
}